<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${web:rootDir}/logs</property>
        <property name="FILE_NAME_INFO">serverInfo</property>
        <property name="FILE_NAME_ERROR">serverError</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="info-log" fileName="${LOG_HOME}/${FILE_NAME_INFO}.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME_INFO}-%d{yyyy-MM-dd}-%i.log.gz"
                     immediateFlush="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMisMatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="error-log" fileName="${LOG_HOME}/${FILE_NAME_ERROR}.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME_ERROR}-%d{yyyy-MM-dd}-%i.log.gz"
                     immediateFlush="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMisMatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <!--过滤掉spring的一些无用的DEBUG信息-->
        <logger name="org.springframework" level="INFO" />
        <logger name="org.hibernate" level="INFO" />
        <logger name="net.sf.ehcache" level="INFO" />
        <Root level="all">
            <!-- 这里是输入到文件，很重要-->
            <AppenderRef ref="info-log"/>
            <AppenderRef ref="error-log"/>
            <!-- 这里是输入到控制台-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>